<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>inputFilter</filter-name>
        <filter-class>com.ujjval.filters.inputFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>inputFilter</filter-name>
        <servlet-name>booksServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>inputFilter</filter-name>
        <servlet-name>moviesServlet</servlet-name>
    </filter-mapping>
    
    <servlet>
        <servlet-name>moviesServlet</servlet-name>
        <servlet-class>com.ujjval.servlets.moviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booksServlet</servlet-name>
        <servlet-class>com.ujjval.servlets.booksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>moviesServlet</servlet-name>
        <url-pattern>/moviesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booksServlet</servlet-name>
        <url-pattern>/booksServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
